@tailwind base;

body {
  @apply bg-dark-1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

pre {
  overflow: initial;
  white-space: pre-wrap;
}

@tailwind components;

@tailwind utilities;
